{
  "subscriptionId": "",
  "resourceGroupName": "",
  "location": "",
  "deploymentName": "",
  "templateFilePath": "",
  "parametersFilePath": "",
  "vmName": "",
  "imageName": "",
  "storageAccountName": "",
  "containerName": ""
}
